body {
    background: #d4dbe3 url(../img/logo-book.png) 50% 100px repeat-x;
}
/*-------------新添加-20140727-----------*/
a 
{
    text-decoration: none;
    color: #555;
    text-align: left;
}
a:hover {
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    color: #951d2d;
}
/*-------------新添加结束-----------*/
.top-nav {
    position: absolute;
    width: 100%;
    height: 38px;
}
.top-nav-left {
    float: left;
    width: 50%;
    height: 38px;
    background: url(../img/top-nav-left.png);
}
.top-nav-right {
    float: right;
    width: 50%;
    height: 38px;
    background: url(../img/top-nav-right.png);
}
.top-nav-center {
    position: relative;
    z-index: 1;
    width: 1070px;
    height: 38px;
    margin: 0 auto;
    background: url(../img/top-nav-center.png) no-repeat;
}
.container {
    position: relative;
    width: 1070px;
    margin: 0 auto;
    text-align: center;
}
.container-background {
    position: absolute;
    z-index: -1;
    width: 1070px;
    height: 100%;
    margin: 0 auto;
    opacity: .7;
    background: #fff;
    filter: alpha(opacity: 70);
}
.container-left {
    float: left;
    width: 17px;
    height: 100%;
    background: url(../img/container-left.jpg) repeat-y;
}
.container-right {
    float: right;
    width: 17px;
    height: 100%;
    background: url(../img/container-right.jpg) repeat-y;
}
.container-body {
    width: 1036px;
    margin: 0 auto;
    padding-top: 33px;
}
.header {
    position: relative;
    height: 167px;
    margin: 0 auto;
    border: 3px solid #000;
    border-radius: 3px;
    background: #9c1e2e;
    --moz-border-radius: 3px;
}
.header > a {
    position: absolute;
    z-index: 9999;
    top: 40px;
    left: 50px;
}
.pic-tab {
    position: relative;
    float: right;
    overflow: hidden;
    width: 618px;
    height: 167px;
}
.pic-tab li {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity: 0);
}
.content-sidebar {
    float: left;
    width: 277px;
    margin-left: 13px;
}
.content-sidebar h1 {
    font-family: '微软雅黑';
    font-size: 22px;
    margin-top: 37px;
    color: #9d1e2f;
}
.news-class, .first-class {
    width: 205px;
    margin: 15px auto 0;
    text-align: left;
    border-top: 1px solid #999;
}
.first-class > li {
    margin-top: 15px;
}
.first-class li h2 {
    display: inline-block;
}
.first-class li h2 a {
    font-family: '黑体';
    font-size: 18px;
    padding-left: 19px;
    text-decoration: none;
    color: #000;
    background: url(../img/first-class-list.png) 0 50% no-repeat;
}
.first-class li h2 a:hover {
    text-decoration: underline;
}
.first-class-active {
    font-weight: bold;
}
.second-class {
    margin-top: 5px;
    padding-left: 20px;
}
.second-class li {
    display: inline-block;
    width:80px;
    margin: 5px auto;
    text-align:center;
    background-color:#eee;
    border: solid 1px #ccc;
   
}
.second-class li a {
    font-family: '宋体';
    font-size: 14px;
    text-decoration: none;
    color: #555;
}
.second-class li a:hover {
    color: #9d1e2f;
}
.second-class .second-class-active a {
    font-weight: bold;
    color: #9d1e2f;
}
.content-shadow {
    float: left;
    width: 40px;
}
.content-body {
    float: right;
    width: 700px;
    min-height: 600px;
    margin-bottom: 30px;
    text-align: left;
}
.news-second-links, .second-links {
    width: 675px;
    margin-top: 50px;
    padding-bottom: 14px;
    color: #9a2635;
    border-bottom: 1px solid #9a2635;
}
.news-second-links li, .second-links li {
    display: inline-block;
}
.second-links li img {
    vertical-align: bottom;
}
.news-second-links li a, .second-links li a {
    font-family: '宋体';
    font-size: 14px;
    text-decoration: none;
    color: #9a2635;
}
.news-second-links li a:hover, .second-links li a:hover {
    text-decoration: underline;
}
.news-second-links {
    line-height: 40px;
    width: 1035px;
    height: 40px;
    margin-top: 22px;
    padding-bottom: 0;
    text-align: left;
    border: 1px solid #ddd;
    background: url(../img/news-second-links.jpg);
}
.news-second-links li img {
    vertical-align: text-bottom;
}
.info {
    width: 675px;
    height: 45px;
    margin-bottom: 17px;
    border-bottom: 1px solid #999;
    background: #eee;
}
.info p {
    font-family: '宋体';
    font-size: 12px;
    padding: 15px 25px;
    color: #9a2635;
}
.database-right, .database-left {
    float: left;
    width: 337px;
    text-align: center;
}
.database-list {
    width: 600px;
    margin-left: 37px;
    text-align: center;
}
.database-left {
    border-right: 1px solid #ccc;
}
.database-right h1, .database-left h1, .database-list h1 {
    font-family: '黑体';
    font-size: 16px;
    line-height: 22px;
    width: 108px;
    height: 22px;
    margin: 0 auto 14px;
    color: #fff;
    background: #9d1e2f;
}
.database-right ul, .database-left ul {
    width: 250px;
    margin: 0 auto;
}
.database-list ul {
    width: 540px;
    margin: 0 auto;
}
.database-right ul li, .database-left ul li, .database-list ul li {
    height: 23px;
    padding: 0 15px;
    text-align: left;
}
.database-right ul li a, .database-left ul li a, .database-list ul li a {
    font-family: '宋体';
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
    color: #555;
}
.database-right ul li a:hover, .database-left ul li a:hover, .database-list ul li a:hover {
    color: #9d1e2f;
}
.database-right ul li a span, .database-left ul li a span, .database-list ul li a span {
    float: right;
}
.database-list ul li > span {
    font-family: '宋体';
    font-size: 12px;
    line-height: 23px;
    float: right;
    margin-left: 70px;
    color: #555;
}
.database-right-first {
    position: relative;
    margin-bottom: 8px;
}
.database-right-more {
    font-family: '宋体';
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 40px;
    text-decoration: none;
    color: #9d1e2f;
}
.database-right-more:hover {
    text-decoration: underline;
}
.bottom-links {
    position: relative;
    height: 35px;
    background: url(../img/bottom-links.png) repeat-x;
}
.bottom-links ul {
    color: #fff;
}
.bottom-links ul li {
    line-height: 35px;
    display: inline-block;
    padding: 0 3px;
}
.bottom-links ul li a {
    font-family: '宋体';
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.bottom-links ul li a:hover {
    text-decoration: underline;
}
.footer {
    height: 80px;
    background: url(../img/footer.png) repeat-x;
}
.footer p {
    font-family: '黑体';
    font-size: 14px;
    line-height: 80px;
    color: #858483;
}
/*newsList页面*/

.news-class {
    padding-top: 20px;
    text-align: center;
}
.news-class li {
    width: 110px;
    height: 30px;
    margin: 0 auto 10px;
}
.news-class-active {
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
    background: #951d2d;
}
.news-class .news-class-active a {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    color: #fff;
}
.news-class .news-class-active a:hover {
    color: #fff;
}
.news-class li a {
    line-height: 30px;
    text-decoration: none;
    color: #000;
}
.news-class li a:hover {
    color: #951d2d;
}
/*-------------新添加-20140727-----------*/
.news-content
{
    margin:25px 0 0 50px;
    }
.news-list-zydt {
    width: 540px;
    font-family:'微软雅黑';
    font-size: 12px;
}

.news-list-zydt ul 
{
    text-align:left;
    line-height: 40px;
    height: 40px;
    vertical-align:middle;
    border-bottom: 1px dashed #999;
}
.news-list-zydt ul li
{
    display:block;
    float:left;
    }
.news-list-zydt .news-list-zydt-title
{
    font-size:14px;
    width:400px;
    display:block;
    }

/*-------------新添加结束-----------*/
.news-list {
    width: 540px;
    margin: 25px 0 0 50px;
}
.news-list li {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px dashed #999;
}
.news-list li a {
    font-family: '微软雅黑';
    font-size: 14px;
    text-decoration: none;
    color: #555;
    text-align: center;
}
.news-list li a:hover {
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    color: #951d2d;
}
.news-list li a span {
    font-size: 12px;
    float: right;
}
.pager-wrap {
    width: 640px;
}
.pager {
    margin: 25px auto 0;
    text-align: center;
}
.pager li {
    line-height: 20px;
    display: inline-block;
}
.pager .page-first a, .pager .page-last a {
    width: 45px;
}
.pager .page-prev a, .pager .page-next a {
    width: 50px;
}
.pager li a {
    font-family: '宋体';
    font-size: 14px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: #555;
}
.pager li a:hover {
    -webkit-transition: background .3s, color .3s;
    -moz-transition: background .3s, color .3s;
    -o-transition: background .3s, color .3s;
    transition: background .3s, color .3s;
    color: #fff;
    background: #951d2d;
}
.pager .page-active a {
    color: #fff;
    background: #951d2d;
}
/*新闻内容*/

.news-details {
    width: 800px;
    min-height: 500px;
    margin: 50px auto 0;
}
.news-details-second {
    width: 610px;
    margin: 30px 25px 0;
    text-align: center;
}
.news-details h1, .news-details-second h1 {
    font-family: '黑体';
    font-size: 20px;
    margin-bottom: 25px;
    color: #9d1e2f;
}
.news-details p, .news-details-second p {
    font-family: '宋体';
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;
    text-align: left;
    text-indent: 28px;
    color: #6e6e6e;
}
.news-post-footer {
    margin-top: 40px;
}
.news-post-footer span {
    font-family: '宋体';
    font-size: 14px;
    float: right;
    clear: both;
    color: #6e6e6e;
}
/*首页*/

.home-content-left {
    position: relative;
    float: left;
    width: 640px;
    height: 500px;
}
.search-wrap {
    height: 175px;
    padding-top: 41px;
}
.search-tab {
    margin-left: 60px;
    list-style: none;
}
.search-tab li {
    line-height: 41px;
    position: relative;
    z-index: 0;
    float: left;
    width: 107px;
    height: 41px;
    margin-left: -12px;
    background: url(../img/search-tab.png) no-repeat;
}
.search-tab li a {
    font-family: '黑体';
    font-size: 14px;
    display: block;
    width: 100px;
    height: 41px;
    text-decoration: none;
    color: #898a89;
}
.search-tab .search-tab-active {
    background: url(../img/search-tab-active1.png) no-repeat;
}
.search-tab .search-tab-active a {
    color: #fff;
}
.search-content {
    position: relative;
    z-index: 3;
    width: 550px;
    height: 160px;
    margin-top: 35px;
    margin-left: 50px;
    border-radius: 5px;
    --moz-border-radius: 5px;
}
#integrate-wrap, #cite-wrap, #mylib-wrap {
    display: none;
}
#collections-wrap {
    border: 1px solid #77b6d9;
    background: url(../img/1.png) transparent 0 -1px no-repeat;
}
#integrate-wrap {
    border: 1px solid #ec6c26;
    background: url(../img/2.png) transparent 0 -1px no-repeat;
}
#cite-wrap {
    border: 1px solid #42b37b;
    background: url(../img/3.png) transparent 0 -1px no-repeat;
}
#mylib-wrap {
    border: 1px solid #8864a9;
    background: url(../img/4.png) transparent 0 -1px no-repeat;
}
.home-content-shadow {
    float: left;
    width: 38px;
    height: 500px;
}
#collections, #integrate, #cite, #mylib {
    margin-top: 49px;
}
#collections input, #integrate input, #cite input, #mylib input {
    float: left;
}
.searchContent {
    width: 276px;
    height: 27px;
    margin-left: 35px;
    padding-left: 14px;
    border: 1px solid #888a89;
    border-radius: 3px;
}
.search-content-drop-wrap{
    position: relative;
    width: 95px;
    float: left;
    height: 29px;
    margin-left: 1px;
}
.search-content-drop{
    position: absolute;
    width: 95px;
    overflow: hidden;
    height: 29px;
    margin-left: 1px;
    border: 1px solid #888a89;
    border-radius: 3px;
    --moz-border-radius: 3px;
}
#collections .search-content-drop {
    background: url(../img/select-tri.png) #fff 77px 10px no-repeat;
}
#integrate .search-content-drop {
    background: url(../img/select-tri2.png) #fff 77px 10px no-repeat;
}
#mylib .search-content-drop {
    background: url(../img/select-tri4.png) #fff 77px 10px no-repeat;
}
#collections .search-content-drop li, #integrate .search-content-drop li, #mylib .search-content-drop li {
    font-family: '宋体';
    font-size: 12px;
    line-height: 29px;
    height: 29px;
    padding-left: 10px;
    cursor: pointer;
    text-align: left;
    color: #828282;
}
.searchButton {
    width: 78px;
    height: 31px;
    margin-left: 15px;
    cursor: pointer;
    border: none;
}
#collections .searchButton {
    background: url(../img/searchButton.png);
}
#integrate .searchButton {
    background: url(../img/searchButton2.png);
}
#cite .searchButton {
    background: url(../img/searchButton3.png);
}
#mylib .searchButton {
    background: url(../img/searchButton4.png);
}
.explanation {
    margin: 17px auto 0;
    padding-top: 10px;
    border-top: 1px dashed #828282;
    width: 430px;
}
.explanation img {
    vertical-align: text-bottom;
}
.explanation p {
    display: inline;
    font-family: '宋体';
    font-size: 12px;
    color: #828282;
}
.explanation a{
    color: #2f8abd;
}
.explanation a:hover{
    color: #ec6c26;
}
